<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TaskSpace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <TaskSpace.Properties.Settings>
      <setting name="Ctrl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Shift" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowsKey" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HotkeyMain" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="Alt" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AltTabHook" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RunAsAdmin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableHotkeyMain" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Apps_E" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>notepad++.exe</string>
            <string>notepad.exe</string>
            <string>sublime.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_V" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>devenv.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_W" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>winword.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_X" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>excel.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_R" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>rubymine64.exe</string>
            <string>rubymine.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_P" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>pbidesktop.exe</string>
            <string>postman.exe</string>
            <string>powerpnt.exe</string>
            <string>pycharm64.exe</string>
            <string>pycharm.exe</string>
            <string>mspaint.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_Q" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>ssms.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_S" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>snippingtool.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_T" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>taskmgr.exe</string>
            <string>teams.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_O" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>outlook.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_A" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
        </value>
      </setting>
      <setting name="Apps_B" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe</string>
            <string>C:\Program Files (x86)\Microsoft\Edge Beta\Application\msedge.exe</string>
            <string>chrome.exe</string>
            <string>firefox.exe</string>
            <string>vivaldi.exe</string>
            <string>brave.exe</string>
            <string>opera.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_C" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>cmd.exe</string>
            <string>bcompare.exe</string>
            <string>calc.exe</string>
            <string>calculator.exe</string>
            <string>countuptimer.exe</string>
            <string>merge.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_G" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>battle.net.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_H" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>honeyview.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_I" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>mspaint.exe</string>
            <string>paintdotnet.exe</string>
            <string>IconWorkshop.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_K" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>kusto.explorer.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_L" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>fontlab 8.exe</string>
            <string>fontlab.exe</string>
            <string>locknote.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_M" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>spotify.exe</string>
            <string>aimp.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_N" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>NimbleText.exe</string>
            <string>NimbleSET.exe</string>
            <string>notepad.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_Z" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>Zoom.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>Dark</value>
      </setting>
      <setting name="IsFocusNextEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableHotkeyAlt" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HotkeyAlt" serializeAs="String">
        <value>192</value>
      </setting>
      <setting name="Folder_0_Power" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>"lock", "L",","</string>
            <string>"sleep", "S","."</string>
            <string>"restart", "R","/"</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Folder_0_Key" serializeAs="String">
        <value>,</value>
      </setting>
      <setting name="BlockList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>applicationframehost</string>
            <string>microsoft.notes</string>
            <string>rtkuwp</string>
            <string>shellexperiencehost</string>
            <string>systemsettings</string>
            <string>textinputhost</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Apps_F" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>C:\Windows\explorer.exe</string>
            <string>totalcmd.exe</string>
            <string>totalcmd64.exe</string>
            <string>everything.exe</string>
            <string>everything64.exe</string>
          </ArrayOfString>
        </value>
      </setting>
    </TaskSpace.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
